// Import styles
@import url(reset.css);
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600';

// Colors
$white: #fff;
$grey-100: rgba(234, 234, 238, 0.60);
$grey-200: #dadada;
$grey-300: #cacaca;
$grey-400: #838b94;
$black: #000;
$red: #ff6458;

$font-family-main: 'Source Code Pro', Helvetica, Arial, Sans;
$font-size-base: 13px;
$font-weight-bold: 600;
$line-height-base: 22px;
$background-color: $grey-100;
$accent-color: $red;

// Helpers
.caps {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.italic {
	font-style: italic;
}
@mixin transition {
	transition: all 0.2s ease;
}

@mixin box-shadow {
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.04);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.04);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.04);
}