@import 'global_styles.scss';

section.content-playlist {
	table {
		width: 100%;
		td,
		th {
			padding: 7px 20px;
		}
		th {
			opacity: 0.3;
		}
	}
	.album-wrapper {
		display: block;
		height: 325px;
		width: 325px;
		position: relative;
		.album {
			@include box-shadow;
			background: grey;
			border-radius: 1px;
			height: 325px;
			position: absolute;
			width: 325px;
			z-index: 2;
		}
		.album-shadow {
			@include transition;
			@include box-shadow;
			background: $white;
			border-radius: 1px;
			height: 325px;
			position: absolute;
			transform: translate(20px, 20px);
			width: 325px;
			z-index: 1;
		}
	}
	.playlist-info {
		margin-top: 100px;
		.desc {
			h3 {
				font-weight: $font-weight-bold;
			}
			p.date {
				opacity: 0.6;
			}
			p.desc {
				margin-top: 15px;
			}
		}
	}
}