@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600";
.caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

p {
  font-size: 15px;
  line-height: 20px; }

a {
  color: #000; }
  a:hover, a:visited, a:focus {
    color: #000;
    text-decoration: none; }

.btn {
  transition: all 0.2s ease;
  border: none;
  border-radius: 1px;
  padding: 6px 27px; }
  .btn.btn-primary {
    background: #000;
    border: 1px solid #000; }
    .btn.btn-primary:hover {
      background: #289258;
      border: 1px solid #289258; }
  .btn.btn-secondary {
    background: #dadada; }
    .btn.btn-secondary:hover {
      background: #cacaca; }

.input-group input {
  border: 1px solid #dadada;
  border-radius: 1px;
  box-shadow: none;
  height: 33px; }
  .input-group input:focus {
    box-shadow: none;
    border: 1px solid #289258; }

html {
  background-color: #fff;
  font-size: 15px;
  line-height: 20px; }
  html body {
    background-color: #eee;
    font-family: "Source Code Pro", Helvetica, Arial, Sans; }
    html body header {
      padding: 30px 0; }
      html body header h1 {
        display: inline-block;
        font-size: 19px;
        font-weight: 600;
        margin-right: 6px;
        vertical-align: -webkit-baseline-middle; }
      html body header .moon {
        background: url("../images/emoji-dark-moon@2x.png");
        background-size: 27px;
        display: inline-block;
        height: 27px;
        width: 27px;
        vertical-align: -webkit-baseline-middle; }
      html body header .moon-animation {
        background: url("../images/emoji-moon-animation.gif");
        background-size: 27px; }
      html body header p {
        margin-top: 12px; }
    html body section.content {
      padding-bottom: 140px; }
      html body section.content .col-md-4:nth-of-type(2) {
        margin-top: 150px; }
      html body section.content .col-md-4:nth-of-type(3) {
        margin-top: 40px; }
      html body section.content .album-wrapper {
        display: block;
        height: 325px;
        margin-top: 60px;
        width: 325px;
        position: relative; }
        html body section.content .album-wrapper .album {
          -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          background: grey;
          border-radius: 1px;
          height: 325px;
          margin-top: 40px;
          position: absolute;
          width: 325px;
          z-index: 2; }
        html body section.content .album-wrapper .album-shadow {
          transition: all 0.2s ease;
          -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
          background: #fff;
          border-radius: 1px;
          height: 325px;
          margin-top: 40px;
          position: absolute;
          transform: translate(20px, 20px);
          width: 325px;
          z-index: 1; }
        html body section.content .album-wrapper:hover .album-shadow {
          transform: translate(26px, 26px); }
    html body footer {
      background: url("../images/bg-graph-pattern@2x.jpg");
      background-color: #fff;
      background-size: 80px;
      padding: 70px 0; }
      html body footer .social-links {
        float: right;
        width: 10%; }
        html body footer .social-links .social {
          -ms-transform: rotate(55deg);
          -webkit-transform: rotate(55deg);
          transform: rotate(55deg); }

/*# sourceMappingURL=style.css.map */
