@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600";
@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600";
@import url(reset.css);
@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600";
.caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

section.content-home {
  text-align: center;
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  section.content-home .album-wrapper {
    height: 225px;
    margin: auto;
    margin-bottom: 60px;
    width: 225px; }
    section.content-home .album-wrapper .album {
      height: 225px;
      width: 225px; }
      section.content-home .album-wrapper .album img {
        width: 225px; }
    section.content-home .album-wrapper .album-shadow {
      height: 225px;
      width: 225px; }
    section.content-home .album-wrapper:hover .album-shadow {
      transform: translate(26px, 26px); }
    section.content-home .album-wrapper:nth-of-type(2) {
      float: right; }
  @media (min-width: 768px) {
    section.content-home {
      text-align: left; }
      section.content-home .album-wrapper {
        height: 325px;
        width: 325px; }
        section.content-home .album-wrapper .album {
          height: 325px;
          width: 325px; }
          section.content-home .album-wrapper .album img {
            width: 325px; }
        section.content-home .album-wrapper .album-shadow {
          height: 325px;
          width: 325px; } }
  @media (min-width: 992px) {
    section.content-home .col-md-4:nth-of-type(2) {
      margin-top: 150px; }
    section.content-home .col-md-4:nth-of-type(3) {
      margin-top: 40px; } }

.caps {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

section.content-playlist {
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  section.content-playlist table {
    width: 100%; }
    section.content-playlist table td,
    section.content-playlist table th {
      padding: 7px 0px; }
    section.content-playlist table th {
      opacity: 0.3; }
  section.content-playlist .album-wrapper {
    display: none; }
  section.content-playlist .playlist-info {
    margin-top: 100px; }
    section.content-playlist .playlist-info .desc h3 {
      font-weight: 600; }
    section.content-playlist .playlist-info .desc p.date {
      opacity: 0.6; }
    section.content-playlist .playlist-info .desc p.desc {
      margin-top: 15px; }
  @media (min-width: 768px) {
    section.content-playlist table td,
    section.content-playlist table th {
      padding: 7px 20px; }
    section.content-playlist .album-wrapper {
      display: block;
      height: 325px;
      width: 325px;
      position: relative; }
      section.content-playlist .album-wrapper .album {
        -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        background: grey;
        border-radius: 1px;
        height: 325px;
        position: absolute;
        width: 325px;
        z-index: 2; }
      section.content-playlist .album-wrapper .album-shadow {
        transition: all 0.2s ease;
        -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
        background: #fff;
        border-radius: 1px;
        height: 325px;
        position: absolute;
        transform: translate(20px, 20px);
        width: 325px;
        z-index: 1; } }

p {
  font-size: 15px;
  line-height: 25px; }

a {
  color: #ff6458; }
  a:hover, a:visited, a:focus {
    color: #ff6458;
    text-decoration: none; }

.btn {
  transition: all 0.2s ease;
  border: none;
  border-radius: 1px;
  padding: 6px 27px; }
  .btn.btn-primary {
    background: #000;
    border: 1px solid #000; }
    .btn.btn-primary:hover {
      background: #ff6458;
      border: 1px solid #ff6458; }
  .btn.btn-secondary {
    background: #dadada; }
    .btn.btn-secondary:hover {
      background: #cacaca; }

.input-group input {
  border: 1px solid #dadada;
  border-radius: 1px;
  box-shadow: none;
  height: 33px;
  padding-left: 15px; }
  .input-group input:focus {
    box-shadow: none;
    border: 1px solid #cacaca; }

html {
  background-color: #fff;
  font-size: 15px;
  line-height: 25px; }
  html body {
    background-color: #eee;
    font-family: "Source Code Pro", Helvetica, Arial, Sans; }

header {
  padding: 30px 0;
  /* Medium devices (desktops, 992px and up) */ }
  header a h1 {
    color: #000;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    margin-right: 6px;
    vertical-align: -webkit-baseline-middle; }
  header .logo {
    margin-bottom: 20px;
    text-align: center; }
  header .moon {
    background: url("../images/emoji-dark-moon@2x.png");
    background-size: 27px;
    display: inline-block;
    height: 27px;
    width: 27px;
    vertical-align: -webkit-baseline-middle; }
  header .moon-animation {
    background: url("../images/emoji-moon-animation.gif");
    background-size: 27px; }
  header p {
    margin-top: 12px;
    opacity: 0.6; }
  header input:focus {
    box-shadow: none;
    outline: none; }
  @media (min-width: 992px) {
    header .logo {
      text-align: left; } }

section.content {
  padding-top: 60px;
  padding-bottom: 140px; }
  section.content .album-wrapper {
    display: block;
    position: relative; }
    section.content .album-wrapper .album {
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      background: grey;
      border-radius: 1px;
      position: absolute;
      z-index: 2; }
    section.content .album-wrapper .album-shadow {
      transition: all 0.2s ease;
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.04);
      background: #fff;
      border-radius: 1px;
      position: absolute;
      transform: translate(20px, 20px);
      z-index: 1; }

footer {
  background: url("../images/bg-graph-pattern@2x.jpg");
  background-color: #fff;
  background-size: 80px;
  padding: 70px 0; }
  footer .bio .copy {
    margin-top: 5px;
    opacity: 0.4;
    font-size: 13px; }
  footer .social-links {
    float: right;
    margin-top: 30px;
    width: 10%; }
    footer .social-links .social {
      -ms-transform: rotate(55deg);
      -webkit-transform: rotate(55deg);
      transform: rotate(55deg); }
      footer .social-links .social a {
        color: #ff6458; }

/*# sourceMappingURL=style.css.map */
