
@import 'global_styles.scss';
@import 'content-home.scss';
@import 'playlists.scss';


p {
	font-size: $font-size-base;
	line-height: $line-height-base;
}

a {
	color: $black;
	&:hover,
	&:visited,
	&:focus {
		color: $black;
		text-decoration: none;
	}
}

.btn {
	@include transition;
	border: none;
	border-radius: 1px;
	padding: 6px 27px;
	&.btn-primary {
		background: $black;
		border: 1px solid $black;
		&:hover {
			background: $accent-color;
			border: 1px solid $accent-color;
		}
	}
	&.btn-secondary {
		background: $grey-200; 
		&:hover {
			background: $grey-300;
		}
	}
}
.input-group {
	input {
	  border: 1px solid $grey-200;
	  border-radius: 1px;
	  box-shadow: none;
	  height: 33px;
	  &:focus {
	  	box-shadow: none;
    	border: 1px solid $grey-300;
	  }
	}
}

// Styles
html {
	background-color: $white;
	font-size: $font-size-base;
	line-height: $line-height-base;
	body {
		background-color: $background-color;
		font-family: $font-family-main;
		header {
			padding: 30px 0;
			h1 {
				display: inline-block;
				font-size: 19px;
				font-weight: $font-weight-bold;
				margin-right: 6px;
				vertical-align: -webkit-baseline-middle;
			}
			.moon {
				background: url('../images/emoji-dark-moon@2x.png');
				background-size: 27px;
				display: inline-block;
				height: 27px;
				width: 27px;
				vertical-align: -webkit-baseline-middle;
			}
			.moon-animation {
				background: url('../images/emoji-moon-animation.gif');
				background-size: 27px;
			}
			p {
				margin-top: 12px;
				opacity: 0.6;
			}
		}
		section.content {
			padding-bottom: 140px;
		}
		footer {
			background: url('../images/bg-graph-pattern@2x.jpg');
			background-color: $white;
			background-size: 80px;
			padding: 70px 0;
			.social-links {
				float: right;
				width: 10%;
				.social {
					-ms-transform: rotate(55deg);
			    -webkit-transform: rotate(55deg);
			    transform: rotate(55deg);
				}
			}
		}
	}
}
